body{
    background-image: url("https://img.freepik.com/free-photo/rpa-concept-with-blurry-hand-touching-screen_23-2149311914.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 750px;
    font-family: 'Dancing Script', cursive!important;
}